# Virtual Environment
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Data (Raw, samples, processed datasets)
data/raw/*
!data/raw/.gitkeep
!data/raw/*.csv
data/raw/top10_security/
data/samples/*
!data/samples/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/*.csv

# Environment variables
.env
.env.local

# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Reports / figures
reports/figures/*
!reports/figures/.gitkeep
!reports/figures/*.png

# OS generated
.DS_Store
Thumbs.db
